<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="Hivedome.ComponentModel.DataAnnotations" version="1.0.1" targetFramework="net451" />
  <package id="Hivedome.Data.Entity.Metadata" version="1.5.0" targetFramework="net451" />
  <package id="Hivedome.Extensions.EntityFramework" version="2.0.1" targetFramework="net451" />
  <package id="Hivedome.Extensions.EntityFramework.Oracle" version="1.2.0" targetFramework="net451" />
  <package id="Hivedome.Extensions.EntityFramework.SqlServer" version="1.2.0" targetFramework="net451" />
  <package id="Hivedome.Itas.Encryption" version="1.0.1" targetFramework="net451" />
  <package id="Hivedome.Itas.Entities" version="13.5.0" targetFramework="net451" />
  <package id="Hivedome.Itas.Entities.HeritageMapping" version="13.5.0" targetFramework="net451" />
  <package id="Hivedome.Itas.EntityFiltering" version="3.1.1" targetFramework="net451" />
  <package id="Hivedome.Itas.EntityFramework" version="13.5.0" targetFramework="net451" />
  <package id="Hivedome.Itas.EntityFramework.Abstractions" version="3.0.0" targetFramework="net451" />
  <package id="Hivedome.Itas.Expressions.Sql" version="1.2.0" targetFramework="net451" />
  <package id="Hivedome.Itas.Types" version="1.2.0" targetFramework="net451" />
  <package id="Hivedome.Types" version="1.1.8" targetFramework="net451" />
  <package id="linq2db" version="2.9.3" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net451" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net451" />
</packages>